.section-products {
    padding: 80px 0 54px;

    .header {
        margin-bottom: 50px;

        h3 {
            font-size: 1rem;
            color: #fe302f;
            font-weight: 500;
        }

        h2 {
            font-size: 2.2rem;
            font-weight: 400;
            color: #444444;
        }
    }

    .single-product {
        margin-bottom: 26px;

        .part-1 {
            position: relative;
            height: 290px;
            max-height: 290px;
            margin-bottom: 20px;
            overflow: hidden;

            .img {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                transition: all 0.3s;
                background-size: cover;
                background-position: center;
                transition: all 0.3s;
            }

            ul {
                position: absolute;
                bottom: -41px;
                left: 20px;
                margin: 0;
                padding: 0;
                list-style: none;
                opacity: 0;
                transition: bottom 0.5s, opacity 0.5s;

                li {
                    display: inline-block;
                    margin-right: 4px;

                    a {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        background-color: #ffffff;
                        color: #444444;
                        text-align: center;
                        box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
                        transition: color 0.2s;

                        &:hover {
                            color: #fe302f;
                        }
                    }
                }
            }


            &:hover ul {
                bottom: 30px;
                opacity: 1;
            }
        }

        &:hover {
            .part-1 .img {
                transform: scale(1.2, 1.2) rotate(5deg);
            }
        }

        .low-quantity {
            position: absolute;
            top: 15px;
            left: 20px;
            color: #ffffff;
            background-color: #fe302f;
            padding: 2px 8px;
            text-transform: uppercase;
            font-size: 0.85rem;
        }
    }

    .part-2 {
        .product-title {
            font-size: 1rem;
        }

        h4 {
            display: inline-block;
            font-size: 1rem;
        }

        .order-quantity {
            display: inline-block;
            background-color: green;
            padding: .3rem .5rem;
            color: #fff;
            font-size: 12px;
            border-radius: 5px;
            position: absolute;
            top: 0;
            right: 10px;
        }
    }

}

.new-order-popup {
    position: fixed;
    cursor: pointer;
    left: 1.5rem;
    bottom: -50px;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    background-color: #25896c;
    color: #fff;
    transition: all .5s ease;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px !important;
    }
}

.new-order-popup.slideUp {
    animation: slideUp .5s ease forwards;
}

.new-order-popup.slideDown {
    bottom: 1.5rem;
    animation: slideDown .5s ease forwards;
}

@keyframes slideUp {
    100% {
        opacity: 1;
        bottom: 1.5rem;
    }
}

@keyframes slideDown {
    100% {
        bottom: -50px;
    }
}